@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container::-webkit-scrollbar {
  width: 2px;
  display: none;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
